
{erl_opts, [debug_info
           ]
}.

{deps, [
        %%  {uuidv4, "1.0.0"},
        {getopt, "1.0.2"}
       ]}.


{project_plugins, [{rebar3_lint, "0.1.11"},
                   {rebar3_check_deps, "0.1.0"}]}.


{escript_incl_apps,
 [sample_escript]}.
{escript_main_app, sample_escript}.
{escript_name, sample_escript}.
{escript_emu_args, "%%! +sbtu +A1 +K true -sname sample_escript -smp enable\n"}.

{cover_enabled, true}.
{cover_export_enabled, true}.

%% xref configurations
{xref_checks,[undefined_function_calls, undefined_functions,
              deprecated_function_calls, deprecated_functions]}.

{profiles, [{test,
             [{erl_opts, [debug_info]}
             ]}]}.
