{erl_opts, [debug_info]}.
{deps, []}.

{project_plugins, [
                   {rebar3_deb, "0.1.1"},
                   {rebar3_bump, "0.1.1"}
          ]}.

{deb, [
       {control_files_dir, "package/debian"},
       {source_dirs, []},
       {install_dir, "opt"}, %% this would install the release in /opt/RELEASE_NAME directory in the target machine
       {systemd_unit_files, ["package/systemd/sample_app.service"]}
]}.

{relx, [{release, {sample_app, {cmd, "rebar3 bump"}},
         [sasl]},
        {release, {sample_app_mac, "0.0.2-2.ed82a8c"},
         [sasl]},
        {release, {sample_app_mac, "0.0.2"},
         [sasl]},

        {mode, dev},

        %% automatically picked up if the files
        %% exist but can be set manually, which
        %% is required if the names aren't exactly
        %% sys.config and vm.args
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}

        %% the .src form of the configuration files do
        %% not require setting RELX_REPLACE_OS_VARS
        %% {sys_config_src, "./config/sys.config.src"},
        %% {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [{prod, [{relx,
                     [%% prod is the default mode when prod
                      %% profile is used, so does not have
                      %% to be explicitly included like this
                      {mode, prod}

                      %% use minimal mode to exclude ERTS
                      %% {mode, minimal}
                     ]
            }]}]}.
